{% extends 'news/base.html' %}
{% load static %}
{% block title %}
Login sahifasi
{% endblock %}

{% block content %}

    <h2>Veb sahifaga kirish</h2>
    <p>Iltimos,saytga kirish uchun ushbu formani to'ldiring!</p>
    <h5>Parolingizni unutdingizmi? <a href="{% url 'password_reset' %}" style="color: #c7254e">Parolni tiklash</a></h5>
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
    <h4>Agar foydalanuvchi profilingiz bo'lmasa <a href="{% url 'user_register' %}" style="color: red">ro'yxatdan o'tishingiz</a> mumkin!</h4>

{% endblock %}
